.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo-prime {
    color: var(--accent-color);
}

.logo-second {
    color: #000000;
}

.logo-second-inv {
    color: var(--text-light);
}